body::-webkit-scrollbar {
  width: 0;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.1s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}

.b-tabs .tab-content {
  padding: 1rem 0;
  min-height: 212px;
}

.section {
  min-height: calc(100vh - 3.25rem);
}

.main-content {
  position: relative;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
}
